#gate{
    display: grid;
    place-items: center;
    padding: 30px;
    margin: 5px;
    border: 2px solid black;
}

#trainer1 {
    padding: 30px;
    margin: 5px;
    position: absolute;
    top: 160px;
    width: 200px;
    height: 700px;
    display: grid;
    place-content: center;
    border: 2px solid black;
}

#arena{
    width: 1153px;
    height: 700px;
    padding: 30px;
    margin: 5px;
    left: 280px;
    position: absolute;
    top: 160px;
    display: grid;
    place-content: center;
    border: 2px solid black;
}

#arena .sector1 {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 0;
    padding: 20px;
    margin: 10px;
}

#student1{
    padding: 30px; 
    margin : 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gate .passage {
    position: absolute;
    right: 40px;
    border: 2px solid black;
}
